<header class="main-header">
  <h1 class="main-header_title">
    <span class="main-header_title-blue">E</span
    ><Span class="main-header_title-orange">Tech</Span>
  </h1>
  <div class="container-menu">
    <nav class="main-header_menu">
      <ul>
        <li>
          <a href=""> Produtos </a>
        </li>
        <li>
          <a href="">
            <i class="fa-solid fa-cart-shopping"></i>
            Carrinho
            <span class="badge-carrinho">0</span>
          </a>
        </li>
        <li><a href="">Contato</a></li>
        <li>
          <a href="">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
        </li>
      </ul>
    </nav>
    <form class="search-form" action="">
      <input type="text" />
      <button><img src="../../assets/loupe.png" width="50px" alt="" /></button>
    </form>
  </div>
</header>
